body, html{
    max-height: 100vh;
    /* width: 100%; */
}

body::-webkit-scrollbar{
    -webkit-overflow-scrolling: none;
}
body {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    margin: 0;
    height: 100vh;
    overflow: hidden;
  }
  
  @supports (padding: max(0px)) {
    body {
      padding-top: max(env(safe-area-inset-top), constant(safe-area-inset-top));
      padding-bottom: max(env(safe-area-inset-bottom), constant(safe-area-inset-bottom));
    }
  }
  
  html {
    height: -webkit-fill-available;
    height: fill-available;
  }
  
  @media (display-mode: standalone) {
    body {
      height: -webkit-fill-available;
      height: fill-available;
    }
  }
  
  @media screen and (max-aspect-ratio: 13/9) {
    body {
      height: -webkit-fill-available;
      height: fill-available;
    }
  }