.content-main{
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    bottom: 0;
    overflow: hidden;
    padding-left: 10px;
    position: fixed;
    .row{
        padding: 0px !important;
        display:flex;
        // flex-direction: row;
        // width: 100%;
        height: 100%;
        @keyframes slideInFromRight {
            0% {
                transform: translateX(-100%);
                opacity: 0;
            }
            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }
        @keyframes slideOutToLeft {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(-100%);
                display: none;
            }
        }
        .col-2{
                display: none;
                // left: 0;    
                top: 0;
                padding: 0px;
                width: 300px;
                height: 100%;
                z-index: 2;
                // display: grid;
                border-right: 1px solid #E6EAEE;
                bottom: 0;
                background-color: #FDF9F9;
                @media (min-width: 768px) {
                   display: block !important;
                   position: static !important;
                   z-index: 0;
                   animation:none !important;
                }
            .logo{
                font-size: 30px;
                padding: 10px;
                width: calc(300px - 12.5px);
                @media (max-width: 500px) {
                    img{
                        width: 50px;
                        height: 50px;
                    }
                }
                span{
                    font-weight: 600;
                    font-size: 24px;
                }
            }
            .icon-close{
                // margin-left: 50px;
                font-size: 20px;
                @media (min-width: 768px) {
                    display: none !important;
                    // position: static !important;
                    // z-index: 0;
                }
            } 
            .icon-close:hover{
                margin-left: 50px;
                font-size: 20px;
                @media (min-width: 768px) {
                    display: none !important;
                    // position: static !important;
                    // z-index: 0;
                }
            } 
            .sider-bar{
                box-sizing: border-box;
               
                /* Auto layout */   

                display: flex;
                flex-direction: column;
                align-items: flex-end;
                padding: 16px 16px 59px;
                // gap: 730px;

                position: absolute;
                width: 300px;
                height: calc(100% - 100px);
                left: 0px;
                top: 100px;

                background: none;
                border-right: 1px solid #E6EAEE;
                .group-btn {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 0px;
                    gap: 13px;
            
                    width: 268px;
                    height: 116px;
            
            
                    /* Inside auto layout */
            
                    flex: none;
                    order: 0;
                    align-self: stretch;
                    flex-grow: 0;
                    .search {
                        // position: absolute;
                        box-sizing: border-box;
                
                        /*Auto layout */
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: flex-start;
                        padding: 14px 16px;
                        gap: 10px;
                
                        width: 268px;
                        height: 52px;
                
                        background: #FFFFFF;
                        border: 1px solid #292D32;
                        border-radius: 10px;
                
                        /* Inside auto layout */
                
                        flex: none;
                        order: 0;
                        align-self: stretch;
                        flex-grow: 0;

                        i{
                            width: 20px;
                            height: 20px;
                            font-size: 20px;
                        }
                        .input-search {
                            border: none;
                            outline: none;
                            display: flex;
                            color: #ccc;
                            // padding: 15px;
                            width: 20px;
                            height: 20px;
                            width: 100%;
                        }
                    }
                    .btn{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        padding: 9px 16px;
                        gap: 10px;
                        
                        width: 268px;
                        height: 51px;
                        
                        background: #4462F2;
                        border-radius: 10px;
                        
                        /* Inside auto layout */
                        
                        flex: none;
                        order: 1;
                        align-self: stretch;
                        flex-grow: 0;
                        .btn-add{
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            padding: 0px;
                            gap: 100px;
                            border: none;
                            color: #FFFFFF;
                            background-color: #4462F2;
                            width: 236px;
                            height: 33px;
                            /* Inside auto layout */

                            flex: none;
                            order: 0;
                            align-self: stretch;
                            flex-grow: 0;
                            i{
                                margin-left: 20px;
                            }
                        }
                    }
                   
                }
                .logout{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    // align-self: e;
                    padding: 9px 16px;
                    gap: 10px;

                    width: 268px;
                    height: 51px;

                    background: #F4F5FA;
                    border-radius: 10px;
                    // margin-top: 150px;
                    /* Inside auto layout */

                    flex: none;
                    order: 1;
                    align-self: stretch;
                    flex-grow: 0;
    
                    .btn-logout{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 0px;
                        gap: 15px;
                        border: none;
                        background: none;
                        width: 236px;
                        height: 33px;
                        /* Inside auto layout */

                        flex: none;
                        order: 0;
                        align-self: stretch;
                        flex-grow: 0;
                        // i{
                        //     margin-right: 10px;
                        // }
                    }
                }
                .setting{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    // align-self: e;
                    padding: 9px 16px;
                    gap: 10px;
                    margin-top: 10px;
                    width: 268px;
                    height: 51px;

                    background: #F4F5FA;
                    border-radius: 10px;
                    // margin-top: 150px;
                    /* Inside auto layout */

                    flex: none;
                    order: 1;
                    align-self: stretch;
                    flex-grow: 0;
    
                    .btn-setting{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 0px;
                        gap: 15px;
                        border: none;
                        width: 236px;
                        height: 33px;
                        /* Inside auto layout */
                        background: none;
                        flex: none;
                        order: 0;
                        align-self: stretch;
                        flex-grow: 0;
                        // i{
                        //     margin-right: 10px;
                        // }
                    }
                }
                p{
                    width: 48px;
                    height: 25px;
                    margin-top: 5px;
                    // font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 175%;
                    /* identical to box height, or 24px */
                    display: flex;
                    align-items: center;
                    color: #677185;
                    /* Inside auto layout */
                    flex: none;
                    order: 0;
                    flex-grow: 0;
                }
                .history-list::-webkit-scrollbar {
                    width: 8px;
                  }
                  
                .history-list::-webkit-scrollbar-thumb {
                    background-color: #4462F2;
                    border-radius: 3px;
                }
                
                .history-list::-webkit-scrollbar-track {
                background-color: lightgray;
                }
                @keyframes show-scrollbar {
                    0% {
                        overflow: hidden;
                    }
                    100% {
                        overflow: auto;
                    }
                }
                @keyframes hide-scrollbar {
                    0% {
                        overflow: auto;
                    }
                    100% {
                        overflow: hidden;
                    }
                }
                .history-list:hover{
                    animation: show-scrollbar 1s forwards;
                }
                .history-list{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    width: 267px;
                    height: calc(100% - 245px);
                    margin-bottom: 50px !important;
                    // overflow: hidden;
                    animation: hide-scrollbar 2s linear 2s forwards;
                    overflow: auto;
                    scrollbar-width: thin;
                    scrollbar-color: gray white;
                    @media (max-width:768px) {
                        animation: none;
                    }
                    // left: 17px;
                    // top: 229px;
                    // background: rgba(220, 216, 216, 0.04);
                    // border-radius: 15px;
                    
                    .btn{
                        display: flex;
                        margin-bottom: 10px;
                        flex-direction: column;
                        align-items: flex-start;
                        padding: 10px;
                        gap: 10px;
                        width: 250px;
                        height: 45px;
                        border: none;
                        background: #FFFFFF;
                        /* Inside auto layout */
                        font-style: normal;
                        flex: none;
                        order: 1;
                        flex-grow: 0;
                        .btn-chat{
                            display: flex;
                            flex-direction: row;
                            // justify-content: space-between;
                            max-width: 235px;
                            align-items: center;
                            padding: 0px;
                            gap: 10px;
                            background-color: #FFFFFF;
                            width: 246px;
                            height: 25px;
                            font-weight: 400;
                            font-size: 14px;
                            border: none;
                            /* Inside auto layout */
                            flex: none;
                            order: 0;
                            align-self: stretch;
                            flex-grow: 0;
                        }
                    }
                    .btn-active{
                        display: flex;
                        margin-bottom: 10px;
                        flex-direction: column;
                        align-items: flex-start;
                        padding: 10px;
                        width: 250px;
                        height: 45px;
                        border-radius: 5px;
                        // color: "black";
                        // overflow: "hidden";
                        // text-overflow: "ellipsis";
                        // width: 170;
                        // white-space: "nowrap";
                        // -webkit-line-clamp: 1;
                        border: 0px solid #FFFFFF;
                        background: #F4F5FA;
                        /* Inside auto layout */
                        font-style: normal;
                        flex: none;
                        order: 1;
                        flex-grow: 0;
                        .btn-chat{
                            display: flex;
                            flex-direction: row;
                            // justify-content: space-between;
                            max-width: 235px;
                            align-items: center;
                            padding: 0px;
                            gap: 10px;
                            background-color: #F4F5FA;
                            width: 246px;
                            height: 25px;
                            font-weight: 400;
                            font-size: 14px;
                            border: none;
                            /* Inside auto layout */
                            flex: none;
                            order: 0;
                            align-self: stretch;
                            flex-grow: 0;
                            .input-edit{
                                border: 1px solid #ccc;
                                border-radius: 5px;
                                outline: none;
                                padding: 5px;
                                width: 150px;
                            }
                        }
                    }
                }
            }
        }
        .col-10{
            max-width: 100%;
            width: 100%;
            height: 100%;
            padding: 0px;
            background: #F4F5FA;
            @media (min-width: 768px) {
                max-width: calc(100% - 300px);
                opacity: 1 !important;
                pointer-events: auto !important;
            }
        }
        
    }
}